@charset "UTF-8";

#carousel {
	position: relative;
	height: 400px;
	width: 100%;
}

#carousel .item:nth-child(1) {
	background:
		url("https://cdn.pixabay.com/photo/2022/03/07/18/41/forest-7054278_960_720.jpg")
		no-repeat center/cover
}

#carousel .item:nth-child(2) {
	background:
		url("https://cdn.pixabay.com/photo/2021/12/09/11/47/river-6858013_960_720.jpg")
		no-repeat center/cover
}

#carousel .item:nth-child(3) {
	background:
		url("https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990_960_720.jpg")
		no-repeat center/cover
}

#carousel .item:nth-child(4) {
	background:
		url("https://cdn.pixabay.com/photo/2013/11/28/10/03/river-219972_960_720.jpg")
		no-repeat center/cover
}

#carousel .item:nth-child(5) {
	background:
		url("https://cdn.pixabay.com/photo/2016/07/11/15/43/woman-1509956_960_720.jpg")
		no-repeat center/cover
}

/* #carousel .item:nth-child(even){
	background-color: tomato
} */
.item {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 400px;
	display: flex; /* tip) float를 무시함 */
	justify-content: center;
	align-items: center;
	color: white;
	opacity: 0;
	transition: all .3s ease-in-out
}

.active {
	z-index: 1;
	opacity: 1
}